*{
    padding: 0;
    margin: 0 auto;
    font-family: "Robott", sans-serif;
    text-decoration: none;
}
table{
    width: 550px;
    height: 450px;
}
h2{
    text-align: center;
}
th {
    text-align: center;
    vertical-align:middle;
}
td{
    vertical-align:middle;
}
